{% load staticfiles %}
{% load i18n %}
{% include "layout/header.html" %}
{% include "layout/navbar.html" %}
{% include "layout/sidebar.html" %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

        <div class="content-wrapper">
            {% csrf_token %}
            {% block content %}

            {% endblock %}

        </div>
        <!-- /.content-wrapper -->


        {% include "layout/footer.html" %}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- Bootstrap -->
    <script src="{% static 'assets/javascripts/libraries/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'assets/javascripts/libraries/adminlte.min.js' %}"></script>

    <!-- OPTIONAL SCRIPTS -->
{#    <script src="{% static 'assets/javascripts/Chart.min.js' %}"></script>#}
{#    <script src="{% static 'assets/javascripts/demo.js' %}"></script>#}
{#    <script src="{% static 'assets/javascripts/dashboard3.js' %}"></script>#}
    <script src="{% static 'assets/javascripts/libraries/bootbox.min.js' %}"></script>
    <script src="{% static 'assets/javascripts/common.js' %}"></script>
    <script src="{% static 'assets/javascripts/admin.js' %}"></script>
    <script>
        $(function () {
            $('#current-project').select2()
        });
    </script>
    <script type="text/javascript">
        var init = [];
        init.push(function () {
            // Javascript code here
        });
        var dt_language = {
            "emptyTable": "{% trans "No data available in table" %}",
            "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing": "{% trans "Processing..." %}",
            "search": "{% trans "Search:" %}",
            "zeroRecords": "{% trans "No matching records found" %}",
            "paginate": {
                "first": "{% trans "First" %}",
                "last": "{% trans "Last" %}",
                "next": "{% trans "Next" %}",
                "previous": "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending": "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
    </script>
</body>

</html>