{% load staticfiles %}
<!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="{% url 'index' %}" class="brand-link">
                <img src="{% static "assets/images/logo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">F&R Projectbau GmbH</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link active">
                                <i class="nav-icon fa fa-th"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>




                        <li class="nav-item has-treeview">
                            <a href="tasks.php" class="nav-link">
                                <i class="nav-icon fa fa-building"></i>
                                <p>
                                    Hauser
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p>Hause 1</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p>Hause 2</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p> Hause 3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="tasks.php" class="nav-link">
                                <i class="nav-icon fas fa-door-closed"></i>
                                <p>
                                    Wohnung
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p>Wohnung 1</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p>Wohnung 2</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tasks.php" class="nav-link">
                                        <i class="fa fa-chevron-right nav-icon"></i>
                                        <p> Wohnung 3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="plans.php" class="nav-link">
                                <i class="nav-icon fa fa-feed"></i>
                                <p>
                                    Planen
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'staffs' %}" class="nav-link">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    Staff List
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'companies' %}" class="nav-link">
                                <i class="nav-icon fas fa-gavel"></i>
                                <p>
                                    Handwerker
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'projects' %}" class="nav-link">
                                <i class="nav-icon fas fa-map-marked"></i>
                                <p>
                                    Projects
                                </p>
                            </a>
                        </li>
                        {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a href="{% url 'components' %}" class="nav-link">
                                    <i class="nav-icon fa fa-table"></i>
                                    <p>
                                        Components
                                    </p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>