{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <!-- Content Header (Page header) -->
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User List</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card data_table_card">
                        <!-- class name data_table_card will be added to all wrapper class of data table -->
                        <div class="card-header">

                            <div class="row">
                                <div class="col-sm">
                                    <h3 class="card-title">Users Lists</h3>
                                </div>
                                <div class="col-sm text-right">
{#                                    <a href="add_staff.html" class="btn btn-primary">Edit</a>#}
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <form action="{% url 'user-update' id=edit.id %}" method="post">
                            {% csrf_token %}
                        <div class="card-body">

                            <h1>First Name:</h1>
                            <input type="text" id="first_name" name="first_name" value="{{ edit.first_name }}">
                            <h1>Last Name</h1>
                            <input type="text" id="last_name" name="last_name" value="{{ edit.last_name }}">


                            <input type="submit" value="Save">
                        </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include "layout/datatable_footer.html" %}
{% endblock %}