.dataTables_wrapper .table-header {
  margin-bottom: -7px;
  padding: 13px 0 13px 15px;
}
.dataTables_wrapper .table-header .table-caption {
  float: left;
  line-height: 20px;
  padding: 5px 10px 5px 0;
  width: auto;
}
.dataTables_wrapper .table-footer {
  margin-top: -7px;
  padding-right: 10px;
}
.dataTables_wrapper .DT-label {
  color: #888;
  line-height: 29px;
}
.DT-search,
.DT-per-page {
  display: inline-block;
}
.DT-lf-right {
  float: right;
  white-space: nowrap;
}
.DT-search {
  line-height: 30px;
  margin-right: 10px;
}
.DT-search,
.DT-search input {
  width: 130px !important;
}
.DT-search label,
.DT-search input {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.DT-per-page {
  border-right: 1px solid #eee;
  margin-right: 10px;
  height: 30px;
  padding-right: 10px;
  white-space: nowrap;
}
.DT-per-page select {
  display: inline-block !important;
  width: auto !important;
}
.DT-label {
  float: left;
  font-size: 12px;
}
.DT-pagination {
  float: right;
}
.dataTables_paginate .pagination > li > a,
.dataTables_paginate .pagination > li > span {
  font-size: 12px;
  padding: 5px 10px;
}
table.dataTable {
  clear: both;
  margin-bottom: 6px !important;
  margin-top: 6px !important;
  max-width: none !important;
}
table.dataTable,
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  display: block;
}
table.dataTable thead .sorting_asc {
  background: rgba(0, 0, 0, 0.05);
}
table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
  display: block;
}
table.dataTable thead .sorting_desc {
  background: rgba(0, 0, 0, 0.05);
}
table.dataTable thead .sorting_desc:after {
  content: "\f0de";
  display: block;
}
table.dataTable thead .sorting_asc_disabled:after {
  content: "\f0dd";
  display: block;
  opacity: .3;
}
table.dataTable thead .sorting_desc_disabled:after {
  content: "\f0de";
  display: block;
  opacity: .3;
}
table.dataTable th {
  position: relative;
}
table.dataTable th:after {
  display: none;
  font-family: FontAwesome;
  font-size: 11px;
  font-weight: normal !important;
  line-height: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 20px;
}
table.dataTable th:active {
  outline: none;
}
div.dataTables_scrollHead table {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0 !important;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
  margin-bottom: 0 !important;
  border-top: none;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}
div.dataTables_scrollFoot table {
  border-top: none;
}
.table-primary .dataTables_wrapper .table-header input,
.table-success .dataTables_wrapper .table-header input,
.table-danger .dataTables_wrapper .table-header input,
.table-warning .dataTables_wrapper .table-header input,
.table-info .dataTables_wrapper .table-header input,
.table-primary .dataTables_wrapper .table-header select,
.table-success .dataTables_wrapper .table-header select,
.table-danger .dataTables_wrapper .table-header select,
.table-warning .dataTables_wrapper .table-header select,
.table-info .dataTables_wrapper .table-header select {
  border: none !important;
}
.table-success .dataTables_wrapper .DT-per-page {
  border-color: #518d51 !important;
}
.table-danger .dataTables_wrapper .DT-per-page {
  border-color: #ca4433 !important;
}
.table-warning .dataTables_wrapper .DT-per-page {
  border-color: #de9328 !important;
}
.table-info .dataTables_wrapper .DT-per-page {
  border-color: #3da1bf !important;
}