{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update Component</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">

                                    <div class="row">
                                        <div class="col-sm">
                                            <h3 class="card-title">Update Component</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form action="{% url 'component-update' pk=data.id %}" method="post" id="components" data-parsley-validate="">
                                    {% csrf_token %}
{#                                    {{ form }}#}
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" name= "name" id="name" placeholder="Enter Name" value="{{ data.name }}" data-parsley-trigger="change" required="">
                                                    {{ form.name.errors }}
                                                </div>

                                            </div>
                                            <div class="col-sm-6 col-xs-12 inline_radio_wrap">
                                                <div class="form-check inline_radio">
                                                    <input class="form-check-input" type="checkbox" value="1" name="flat" {% if isFlatSelected == True %} checked {% endif %}>
                                                    <label for="flat" class="form-check-label">Flat</label>
                                                    {{ form.flat.errors }}
                                                </div>
                                                <div class="form-check inline_radio">
                                                    <input class="form-check-input" type="checkbox" value="1" name="building" {% if isBuildingSelected == True %} checked {% endif %}>
                                                    <label for="building" class="form-check-label">Buildings </label>
                                                    {{ form.building.errors }}
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group inform_select">
                                                    <label for="type">Type</label>
                                                    <br>
                                                    <select class="js-example-basic-single" name="type" id="type" style="width: 350px;" required="">
                                                        <option></option>
                                                        <optgroup name="Grundung" label="Grundung">
                                                            <option value="sf">Streifenfundamente</option>
                                                            <option value="sb">Stahlbeton</option>
                                                            <option value="sb_sf">Stahlbeton mit streifenfundamente</option>
                                                        </optgroup>
                                                        <optgroup name="Aussenwande ab EG" label="Aussenwande ab EG">
                                                            <option value="su">Stahlbeton und Unipor</option>
                                                            <option value="sk">Stahlbeton und kalksandstein</option>
                                                        </optgroup>
                                                        <optgroup name="Fenster Beschattung" label="Fenster Beschattung">
                                                            <option value="nbk">Neubaukasten</option>
                                                            <option value="aufsr">Aufsatzrollladenkasten</option>
                                                            <option value="rse">Rafstorelement</option>
                                                        </optgroup>
                                                        <optgroup name="Dach" label="Dach">
                                                            <option value="zd">Zeigeldach</option>
                                                            <option value="fs">Flachdcah aus Stahlbeton</option>
                                                        </optgroup>
                                                    </select>
                                                    {{ form.type.errors }}
                                                </div>

                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group inform_select">
                                                    <label for="parent">Parent</label>
                                                    <br>
                                                    <select class="js-example-basic-single" name="parent_id" id="parent" style="width: 350px;" required="">
                                                      <option></option>
                                                        {% for parent in parents %}
                                                        <option value="{{ parent.id }}" >{{ parent.name }}</option>
                                                      {% endfor %}
                                                    </select>
                                                    {{ form.parent.errors }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control" rows="3" name="static_description" placeholder="Enter Description" > {{ data.static_description }}</textarea>
                                                    {{ form.static_description.errors }}
                                                </div>

                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <button type="submit" class="btn btn-primary">Update Components</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2({
                placeholder: "Select ....",
                allowClear: true
            });
        });
        $(document).ready(function(){
            $('#parent').select2();
            $('#parent').val({{ data.parent_id }});
            $('#parent').select2().trigger('change');

        });
        $(document).ready(function(){
            $('#type').select2();
            var a = "" + {{ data.type }};
            $('#type').val(a).trigger('change');
            {#$('#type').select2().trigger('change');#}

        });
         $(document).ready(function() {
            console.log("{{ isParent }}");
             if({{ isParent }}){
                $(".js-example-basic-single").prop("disabled", true);
            }else{
            $('#parent').select2();
            $('#parent').val({{ data.parent_id }});
            $('#parent').select2().trigger('change');
             }
        });
        $(function () {
          $('#components').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-warning').toggleClass('hidden', ok);
          })
          .on('form:submit', function() {
            return true;
          });
        });
    </script>
    {% include "layout/datatable_footer.html" %}
{% endblock %}