{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- /.col -->
                        <div class="col-sm-12 ">
                            <div class="bradcrumb_container clearfix">
                                <div class="brad_Wrap pull-left">
                                    <ol class="breadcrumb ">
                                        <li class="breadcrumb-item"><a href="tasks-building.php">Home</a></li>
                                        <li class="breadcrumb-item active">Tasks</li>
                                    </ol>
                                </div>
                                <div class="brad_info pull-right">
                                    <ul class="detail_breadcrumb">
                                        <li>Project 1</li>
                                        <li>Hauser 1</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm col-6">
                                            <h3 class="card-title">Component</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body task-card">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-pending-task-tab" data-toggle="tab" href="#nav-pending-task" role="tab" aria-controls="nav-pending-task" aria-selected="false">Pending Task</a>
                                            <a class="nav-item nav-link" id="nav-done-tab" data-toggle="tab" href="#nav-done" role="tab" aria-controls="nav-done" aria-selected="false">Completed Task</a>
                                            <a class="nav-item nav-link" href="plans.php" >Plans</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-pending-task" role="tabpanel" aria-labelledby="nav-pending-task-tab">

                                        </div>
                                        <div class="tab-pane fade " id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">

                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
    <script>
    $(function () {
        getAllActiveTasks();
    });

    function getAllActiveTasks() {
        var url = window.location.pathname.split("/");
        var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };
        if(url[1] == 'buildings'){
            data['building_id'] = url[2];
        }else{
            data['flat_id'] = url[2];
        }
        $.ajax({
            url: base_url + '/get-active-tasks/',
            type: 'POST',
            data: data,
            success: function (responseText) {
                var response = responseText;
                if (response.success) {
                    $("#nav-pending-task").html(response.active_tasks);
                }
            },
            error: function (e) {
                clog(e);
            }
        });
    }
    </script>
{% endblock %}