{% for task in tasks %}
    <a href="task-detail.php" class="task_title">
        <div class="col-md-12 task_wrap">
            {{ task.building_component.component.name|title }}
            <div class="dropdown-divider"></div>
            <p>{{ task.building_component.description }}</p>
            <div class="dropdown-divider"></div>
            <div class="task_detail_bottom">
                <div class="task_detail_bottom_wrap celarfix">
                    <div class="task_detail_description">
                        <p class="mb-0"><label for="">Last Updated: </label> 13-04-2020</p>
                    </div>
                    <div class="task_detail_description">
                        <p class="text-center mb-0"><label for="">Status: </label> To Do <span
                                class="badge badge-info"><i class="fa fa-list-alt"></i></span>
                        </p>
                    </div>
                    <div class="task_detail_description">
                        <p class="mb-0"><label for="">Last Updated By: </label> Arnab</p>
                    </div>
                    <div class="last_comment">
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite
                                    title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}

