{% extends "layout/login.html" %}
{% block title %}Supplementer :: Reset Password{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>Admin</b>LTE</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Insert your email</p>
                {% if msg %}
                    <p class="alert {% if success %}alert-success{% else %}alert-danger{% endif %}">{{ msg }}</p>
                {% endif %}
                <form class ="form-reset-your-password" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
                        <span class="fa fa-envelope form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" id="reset-password" class="btn btn-primary btn-block btn-flat">Reset Password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="{% url 'login' %}" class="pull-right need-help">Login</a><span class="clearfix"></span>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <script>
        var api_url = "http://192.168.1.10:8080/api";
        $(function () {
            $(".form-reset-your-password").validate({
                ignore: '.ignore',
                focusInvalid: true,
                rules: {
                    'email': {
                        required: true
                    }
                }
            });
            $('.form-reset-your-password').on('submit', function () {
                if ($(this).valid()) {
                    requestResetPassword();
                    {#return true;#}
                }
                return false;
            });
        });

        function requestResetPassword(){
            var $button = $('#reset-password');
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            var data = {
                'email': $('#email').val(),
                'csrfmiddlewaretoken': csrfToken
            };
            $button.prop('disabled',true);
            $.ajax({
                url: api_url+"/forget-password/",
                type: 'POST',
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                success: function (responseText, xhr) {
                    $button.prop('disabled',false);
                    var response = responseText;
                    $.growl.notice({message: response.message});
                    setTimeout(function(){location.href="http://192.168.1.10:8080/login/"} , 2000);
                },
                error: function (e) {
                    $button.prop('disabled',false);
                    var response = e.responseJSON;
                    if (response["message"]) {
                        $.growl.error({message: response["message"]});
                    } else {
                        for (var key in response) {
                            var label = '<label for="' + key + '" class="error" style="display: inline-block;">' + response[key] + '</label>';
                            $('#' + key).removeClass('valid');
                            $('#' + key).addClass('error');
                            $('#' + key).after(label);
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
