{% extends "layout/login.html" %}
{% block title %}Supplementer :: Change Password{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>Admin</b>LTE</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                {% if message %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% else %}
                    <form class="form-reset-password" action="{% url 'reset-password' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="hidden" value="{{ hash_code }}" name="key">
                        <input type="hidden" value="{{ user_id }}" name="uid">
                        <div class="form-group has-feedback">
                            <input class="form-control" type="password" class="form-control" name="password"
                                   placeholder="Password" autofocus>
                            <span class="fa fa-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type="password" class="form-control"
                                   name="confirm_password"
                                   placeholder="Confirm Password">
                            <span class="fa fa-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" id="reset-user-password" class="btn btn-primary btn-block btn-flat">Change Password</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <p class="mb-1">
                    <a href="{% url 'login' %}" class="pull-right need-help">Login</a><span class="clearfix"></span>
                </p>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".form-reset-password").validate({
                ignore: '.ignore',
                focusInvalid: true,
                rules: {
                    'password': {
                        required: true,
                        minlength: 6
                    },
                    'confirm_password': {
                        required: true,
                        minlength: 6,
                        equalTo: 'input[name="password"]'
                    }
                }
            });
            $('.form-reset-password').on('submit', function () {
                if ($(this).valid()) {
                    return true;
                }
                return false;
            });
        });
    </script>
{% endblock %}